body{
	background-color: black;
	text-align: center;
}


img{
	width: 100%;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
}

h1,p{
	color: white;
	font-family: sans-serif;
	text-transform: uppercase;
	  font-family: "Aldrich", sans-serif;
 	  font-weight: 400;
	  font-style: normal;
}
p{
	font-size:15px;
}

.opmaakpagina{
	width:50%;
	margin-left: 25%;
	margin-top: 50px;
}

#rood{
	color: darkred;
}

#geel{
	color: yellow;
}