body{
	background-color: black;
	width: 100%;
}


img{
	width: 30%;
	margin-top: 50px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
}

.eerstefoto{
	text-align: left;
	margin-left: 25px;
}

.tweedefoto{
	text-align: right;
	margin-right: 25px;
}